.img-detail {
  margin-top: 9rem;
  margin-bottom: 7rem;
}

.img-detail img {
  width: 60%;
  border-radius: 5px;
}

.title-detail {
  width: 350px;
  font-weight: bold;
  color: #00214D;
  margin-top: 10rem;
}

.spec-detail-title {
  font-size: 15px;
  color: #666;
}

.spec-detail-desc {
  font-size: 15px;
  font-weight: 500;
  color: #333;
}

.title-desc {
  font-size: 15px;
  font-weight: bold;
}

.description {
  font-size: 15px;
  font-weight: 400;
  color: #333;
}

.icon-detail .btn-comment {
  color: #00214D;
  font-size: 20px;
  text-decoration: none;
  border: none;
}

.icon-detail .icon-edit {
  color: #00214D;
  font-size: 20px;
  margin-left: 10px;
  text-decoration: none;
}

.comment {
  margin-bottom: 2rem;
}

.modal-header {
  border: none;
}

.modal-body input {
  margin-top: 0;
  margin-bottom: 0;
  width: 95%;
  border-bottom: 1px solid #eee !important;
  border: none;
}

.modal-footer {
  border: none;
}

.comment .btn-submit-comment {
  background-color: #00EBC7;
  color: #fff;
}

.comment h2 {
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.comment .user-comment {
  font-size: 15px;
  font-weight: 500;
  color: #00214D;
  margin-top: 10px;
  margin-bottom: 2px;
}

.comment p {
  font-size: 14px;
  color: #666;
  margin-bottom: 1px;
}

.icon-comment-time {
  font-size: 14px;
  color: #00214D;
  text-decoration: none;
}

.icon-comment-time span {
  font-size: 10px;
  color: #666;
  margin-left: 5px;
}

.btn-comment-more {
  width: 200px;
  color: #00214D;
  background-color: #00EBC7;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 4rem;
}

.btn-comment-more:hover {
  background-color: #08d6b7;
}


@media screen and (max-width: 768px) {

  .img-detail img {
    width: 100%;
  }

  .title-detail {
    width: 350px;
    font-size: 18px;
    margin-top: 9rem;
  }

  .spec-detail-title {
    width: 150px;
    font-size: 13px;
  }

  .spec-detail-desc {
    font-size: 13px;
    font-weight: 500;
    color: #333;
  }

  .title-desc {
    font-size: 13px;
    font-weight: bold;
  }

  .description {
    font-size: 13px;
    font-weight: 400;
    color: #333;
  }

}

@media screen and (max-width: 390px) {

  .img-detail {
    margin-top: 7rem;
    margin-bottom: 1px;
  }

  .img-detail img {
    width: 70%;
    border-radius: 4px;
  }

  .desc-detail {
    margin-left: 1rem;
  }

  .title-detail {
    width: 320px;
    font-size: 18px;
    font-weight: bold;
    color: #00214D;
    margin-top: 3rem !important;
  }

  .spec-detail-title {
    font-size: 12px;
    color: #666;
  }

  .spec-detail-desc {
    font-size: 12px;
    font-weight: 500;
    color: #333;
  }

  .title-desc {
    font-size: 12px;
    font-weight: bold;
  }

  .description {
    text-align: justify;
    width: 300px;
    font-size: 12px;
    font-weight: 400;
    color: #333;
  }

  .icon-detail {
    margin-bottom: 1rem;
  }

  .icon-detail .icon-comment {
    font-size: 15px;
  }

  .icon-detail .icon-edit {
    font-size: 15px;
  }

  .comment {
    width: 350px;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .comment .user-comment {
    font-size: 12px;
  }

  .comment p {
    font-size: 11px;
  }

  .icon-comment-time {
    font-size: 12px;
  }

  .icon-comment-time span {
    font-size: 8px;
  }

  .btn-comment-more {
    width: 150px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
  }

}