.login {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.img-login {
  width: 60%;
  border-radius: 8px;
  margin-top: 2rem;
}

.heading-login h2 {
  font-size: 28px;
  color: #00214D;
}

.heading-login p {
  font-size: 14px;
  margin-bottom: 2rem;
}

.form-login .form-label {
  color: #00214D;
  font-size: 14px;
  font-weight: 500;
}

.form-login .form-control {
  width: 400px;
  font-size: 14px;
  margin-top: 1px;
  margin-left: 1px;
}

.heading-login a {
  font-size: 14px;
  color: #00214D;
  text-decoration: none;
}

.btn-login {
  width: 400px;
  color: #00214D;
  background-color: #00EBC7;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.btn-login:hover {
  background-color: #08d6b7;
}

.btn-login-google {
  width: 400px;
  color: #00214D;
  background-color: #fff;
  border: 1px solid #d5d3d3;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.btn-login-google:hover {
  background-color: #eee;
  border: 1px solid #d5d3d3;
}

.btn-login-google img {
  width: 28px;
}

.register-create span {
  font-size: 14px;
  color: #666;
}

.register-create a {
  font-size: 14px;
  color: #00214D;
  font-weight: 500;
}

@media screen and (max-width: 768px) {

  .heading-login h2 {
    font-size: 24px;
  }

  .heading-login p {
    font-size: 12px;
  }

  .form-login .form-label {
    font-size: 12px;
  }

  .form-login .form-control {
    width: 300px;
    font-size: 12px;
  }

  .heading-login a {
    font-size: 12px;
  }

  .btn-login {
    width: 300px;
    font-size: 14px;
  }

  .btn-login-google {
    width: 300px;
    font-size: 14px;
  }

  .btn-login-google img {
    width: 24px;
  }

  .register-create span {
    font-size: 12px;
  }

  .register-create a {
    font-size: 12px;
  }

}

@media screen and (max-width: 390px) {

  .login {
    margin-top: 4rem;
    margin-bottom: 22rem;
  }

  .img-login {
    width: 60%;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -65rem;
  }

  .heading-login h2 {
    font-size: 24px;
    color: #00214D;
  }

  .heading-login p {
    font-size: 12px;
    margin-bottom: 1rem;
  }

  .form-login .form-label {
    color: #00214D;
    font-size: 12px;
    font-weight: 500;
  }

  .form-login .form-control {
    width: 340px;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 1px;
  }

  .heading-login .forgot {
    font-size: 12px;
    color: #00214D;
    text-decoration: none;
    margin-left: 10rem;
  }

  .btn-login {
    width: 340px;
    color: #00214D;
    background-color: #00EBC7;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .btn-login:hover {
    background-color: #08d6b7;
  }

  .btn-login-google {
    width: 340px;
    color: #00214D;
    background-color: #fff;
    border: 1px solid #d5d3d3;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .btn-login-google:hover {
    background-color: #eee;
    border: 1px solid #d5d3d3;
  }

  .btn-login-google img {
    width: 22px;
  }

  .register-create span {
    font-size: 12px;
    color: #666;
  }

  .register-create a {
    font-size: 12px;
    color: #00214D;
    font-weight: 500;
  }

}