* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
}

html {
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

.post {
  margin-top: 8rem;
  border-bottom: 1px solid #eee;
}

.post i {
  min-width: 44px;
  min-height: 44px;
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00EBC7;

  position: fixed;
  bottom: 16px;
  right: 16px;
  cursor: pointer;
  font-size: 44px;
}

.heading-post {
  margin-top: 12rem;
  margin-bottom: 12.5rem;
}

.heading-post h2 {
  text-align: left;
  font-size: 36px;
  color: #00214D;
  font-weight: bold;
  margin-left: 4rem;
}

.heading-post p {
  width: 500px;
  text-align: left;
  margin-left: 4rem;
}

.card-post {
  margin-top: -5px;
}

.img-fluid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5px;
}

.btn-getstarted {
  width: 140px;
  height: 48px;
  border: none;
  border-radius: 6px;
  background-color: #00EBC7;
  color: #00214D;
  font-weight: 400;
  margin-left: 4rem;
}

.btn-getstarted a {
  text-decoration: none;
  color: #00214D;
  font-size: 18px;
  font-weight: 400;
}

.btn-getstarted:hover {
  background-color: #08d6b7;
}


@media screen and (max-width: 768px) {

  .heading-post h2 {
    font-size: 34px;
    margin-left: -3rem;
  }

  .heading-post p {
    width: 350px;
    font-size: 14px;
    margin-left: -3rem;
  }

  .btn-getstarted {
    width: 138px;
    height: 46px;
    margin-left: -3rem;
  }

  .btn-getstarted a {
    font-size: 16px;
  }

  .card-post {
    width: 250px;
  }

  .card-post .card-title {
    font-size: 16px;
    margin-top: -10px !important;
  }

  .card-post .card-text {
    font-size: 12px;
    margin-top: -5px !important;
  }

}

@media screen and (max-width: 390px) {

  .btn-getstarted {
    width: 110px;
    height: 38px;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 2.4rem;
  }

  .post {
    margin-top: -4rem;
  }

  .heading-post {
    margin-bottom: 2rem !important;
  }

  .bg-post {
    width: 50%;
    margin-bottom: -13.5rem;
  }

  .heading-post h2 {
    width: 250px;
    font-size: 24px;
    margin-top: -2rem;
    margin-left: 2.4rem;
    margin-right: auto;
  }

  .heading-post p {
    width: 270px;
    font-size: 12px;
    margin-left: 2.4rem;
  }

  .card-post {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
  }

  .img-fluid {
    margin-top: 5px;
  }

  .card-title {
    text-align: center;
    font-size: 16px;
  }

  .card-text {
    font-size: 12px;
  }

  .btn-getstarted a {
    font-size: 14px;
  }

}