* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.register {
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.already-have-account p {
  color: #666;
  font-size: 12px;
}

.already-have-account a {
  color: #00214D;
  text-decoration: none;
  font-weight: 500;
}

.img-register {
  width: 60%;
  border-radius: 8px;
  margin-top: 2rem;
}

.heading-register h2 {
  font-size: 28px;
  color: #00214D;
  margin-top: 3rem;
  margin-left: 8rem;
}

.heading-register p {
  font-size: 14px;
  margin-bottom: 2rem;
  margin-left: 8rem;
}

.form-register .form-label {
  color: #00214D;
  font-size: 14px;
  font-weight: 500;
  margin-left: 8rem;
}

.form-register .form-control {
  width: 400px;
  font-size: 14px;
  margin-top: 1px;
  margin-left: 1px;
  margin-left: 8rem;
}

.btn-register {
  width: 400px;
  color: #00214D;
  background-color: #00EBC7;
  font-size: 16px;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  margin-left: 8rem;
}

.btn-register:hover {
  background-color: #08d6b7;
}

@media screen and (max-width: 768px) {

  .img-register {
    width: 60%;
    margin-top: 5rem;
  }

  .heading-register h2 {
    font-size: 24px;
    margin-left: 4rem;
  }

  .heading-register p {
    font-size: 12px;
    margin-left: 4rem;
  }

  .form-register .form-label {
    font-size: 12px;
    margin-left: 4rem;
  }

  .form-register .form-control {
    width: 300px;
    font-size: 12px;
    margin-left: 4rem;
  }

  .btn-register {
    width: 300px;
    font-size: 12px;
    margin-top: 1rem;
    margin-left: 4rem;
  }

}

@media screen and (max-width: 390px) {

  .register {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .img-register {
    width: 60%;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-register h2 {
    font-size: 24px;
    color: #00214D;
    margin-top: 1.5rem !important;
    margin-left: 1px;
  }

  .heading-register p {
    font-size: 12px;
    margin-bottom: 1rem;
    margin-left: 1px;
  }

  .form-register .form-label {
    color: #00214D;
    font-size: 12px;
    font-weight: 500;
    margin-left: 1px;
  }

  .form-register .form-control {
    width: 340px;
    font-size: 12px;
    margin-top: 1px;
    margin-left: 1px;
    margin-left: 1px;
  }

  .btn-register {
    width: 340px;
    color: #00214D;
    background-color: #00EBC7;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin-left: 1px;
  }

  .btn-register:hover {
    background-color: #08d6b7;
  }

}