<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-secondary">
            @copy : motositefinder <%= new Date().getFullYear() %>
        </span>
    </div>

</footer>